<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <!-- </nav> -->

    <div class="content about">
      <img
        src="/img/joelam.jpeg"
        alt="HTML code on a screen"
        width="200"
        height="200"
        class="post-img"
      />
      <p>
        My name is Wing Chi Lam, Joe. I am from Hong Kong. I am currently
        studying in centennial college. My major is Software Engineering.
      </p>
      <p>Hobbies</p>
      <ul class="Hobbies">
        <li><p>Basketball</p></li>
        <li><p>Kick Boxing</p></li>
        <li><p>GYM</p></li>
      </ul>
      <p>Language</p>
      <ul class="Language">
        <li><p>English</p></li>
        <li><p>Cantonese</p></li>
        <li><p>Mandarin</p></li>
      </ul>
      <p>My resume is the link below.</p>
      <a href="try.pdf" target="_blank" class="resumeLink">Resume</a>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
