<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <div class="content home">
      <p class="message1">Hello, Welcome to my webapge!</p>
      <p class="message2">Failure is the mother of success!</p>
      <p class="message2">To know who am i? Click below!</p>
      <a href="/about">About Me</a>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
