<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="project-title">My projects</h1>
    <div class="project1">
      <img src="/img/unitygame.png" class="projects-img column" />
      <ul class="column">
        <h3>First project</h3>
        <li><p>This is a unity project</p></li>
        <li><p>It is a 2D game</p></li>
        <li><p>My part mainly develop the function of the game</p></li>
      </ul>
    </div>
    <div class="project1">
      <ul class="column">
        <h3>Second project</h3>
        <li><p>This is a unity project</p></li>
        <li><p>It is a 2D game</p></li>
        <li><p>My part mainly develop the function of the game</p></li>
      </ul>
      <img src="/img/unitygame.png" class="projects-img column" />
    </div>
    <div class="project1">
      <img src="/img/unitygame.png" class="projects-img column" />
      <ul class="column">
        <h3>Third project</h3>
        <li><p>This is a unity project</p></li>
        <li><p>It is a 2D game</p></li>
        <li><p>My part mainly develop the function of the game</p></li>
      </ul>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
