<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <div class="content Services">
      <p class="serviceTitle"><u>Services:</u></p>

      <ul class="service-list">
        <!-- <div class="service-display"> -->
        <li>
          <p>General programming</p>
        </li>
        <div class="language-img">
          <img src="/img/java.png" class="service-img" />
          <img src="/img/C-Sharp.png" class="service-img" />
        </div>
        <!-- </div> -->

        <li><p>Web development</p></li>
        <div class="language-img">
          <img src="/img/html-img.png" class="service-img" />
          <img src="/img/js.png" class="service-img" />
          <img src="/img/css.png" class="service-img" />
          <img src="/img/node-js-icon-8.jpeg" class="service-img" />
        </div>
        <li><p>Mobile apps</p></li>
        <div class="language-img">
          <img src="/img/android.png" class="service-img" />
        </div>
        <li><p>Database</p></li>
        <div class="language-img">
          <img src="/img/sql-server.png" class="service-img" />
        </div>
      </ul>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
