<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content of contact page-->
<main class="container">
  <div class="jumbotron">
    <div class="contactContainer">
      <div class="content contact">
        <h3 class="contact-method m1"><u>Contact</u></h3>
        <div class="contact-method">
          <img src="/img/telephone.png" class="contact-img" />
          <p class="contact-text">Phone: 437-981-9883</p>
        </div>
        <div class="contact-method">
          <img src="/img/gmail.png" class="contact-img" />
          <p class="contact-text">Email: wingchijoe@gmail.com</p>
        </div>
        <div class="contact-method">
          <img src="/img/instagram-logo.png" class="contact-img" />
          <p class="contact-text">Instagram:</p>
          <a href="https://www.instagram.com/lamwingchi/"> Lamwingchi</a>
        </div>
        <div class="contact-method">
          <img src="/img/facebook.png" class="contact-img" />
          <p class="contact-text">Facebook:</p>
          <a href="https://www.facebook.com/wingchijoe"> Joe Lam</a>
        </div>
      </div>

      <div class="cta">
        <div class="cta-text-box">
          <p class="cta-text">
            Leave your messages here, i will contact you as soon as possible!
          </p>
          <form class="cta-form" action="/home" id="form">
            <div>
              <label for="first-name">First Name</label>
              <input
                id="full-name"
                type="text"
                name="First Name"
                placeholder="Example: Joe"
                required
              />
            </div>

            <div>
              <label for="last-name">Last Name</label>
              <input
                id="full-name"
                type="text"
                name="Last Name"
                placeholder="Example: Lam"
                required
              />
            </div>

            <div>
              <label for="email">Email address</label>
              <input
                id="email"
                type="email"
                name="Email"
                placeholder="me@example.com"
                required
              />
            </div>
            <div>
              <label for="Messages">Messages</label>
              <input
                id="Messages"
                type="Messages"
                name="Messages"
                placeholder="Type here"
                required
              />
            </div>
            <button class="btn btn--form" name="Confirm Submit" id="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
