<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content of home page-->
<main class="container">
  <div class="jumbotron">
    <!-- <div class="content home">
      <p class="message2">
        Failure is the mother of success! Welcome to my page.
      </p>
      <p class="message3">To know who i am? Click below!</p>
      <a href="/about">About Me</a>
    </div> -->
    <section class="section-hero">
      <div class="hero">
        <div class="hero-text-box">
          <h1 class="heading-primary">Welcome to Mad world.</h1>
          <p class="hero-description">Why so serious?</p>
          <p class="message3">To know who i am? Click below!</p>
          <a href="/about" class="btn2 btn--full margin-right-sm">About Me</a>
          <!-- <a href="#" class="btn btn--outline">Learn more &darr;</a> -->
          <div class="delivered-meals"></div>
        </div>
        <div class="hero-img-box">
          <img
            src="img/joker.jpeg"
            class="hero-img"
            alt="Woman enjoying food, meals in storage container, and food bowls on a table"
          />
        </div>
      </div>
    </section>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
