<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content of projects page -->
<main class="container">
  <div class="jumbotron">
    <h1 class="project-title">My projects</h1>
    <div class="project1">
      <img src="/img/unitygame.png" class="projects-img column" />
      <ul class="column">
        <h3 class="projects">First project</h3>
        <li><p>This is a unity project.</p></li>
        <li><p>This is a 2D game.</p></li>
        <li>
          <p>My part mainly developed the function of the game using C#.</p>
        </li>
      </ul>
    </div>
    <div class="project1">
      <ul class="column">
        <h3 class="projects">Second project</h3>
        <li><p>This is the 3d models that i made.</p></li>
        <li><p>It is flash and pirate ship</p></li>
        <li><p>I used 3ds max to made it</p></li>
      </ul>
      <img src="/img/3dmaxProject.jpg" class="projects-img column" />
    </div>
    <div class="project1">
      <img src="/img/webasign.png" class="projects-img column" />
      <ul class="column">
        <h3 class="projects">Third project</h3>
        <li><p>This is a web project that i am still developing.</p></li>
        <li><p>This web is about myself.</p></li>
        <li><p>I am developing it with nodejs and express js.</p></li>
      </ul>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
